*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'logo';
    src: url('fonts/RabbidHighwaySignIIHop.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --color1: #C4170C;
    --fontlogo: 'logo', sans-serif;
    --fontpadrao: 'Open Sans', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

/*cabecalho1*/
.headershare{
    background-color: #000000;
    font-family: var(--fontpadrao);
    padding: 5px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headershare img{
    width: 20px;
}

.headershare a{
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
}

/*cabecalho2*/
.headertop{
    background-color: var(--color1);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 20px 5px 20px;
    margin-bottom: 30px;
}

.headertop .logo{
    color: #fff;
    font-family: var(--fontlogo);
    font-size: 3em;
}

.headertop .title{
    color: #fff;
    font-family: var(--fontpadrao);
    margin: auto;
    font-size: 0.8em;
}

/*conteudo manchete*/
main{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fontpadrao);
}

.headline{
    text-align: left;
    padding-bottom: 15px;
}

.headline h1{
    padding-bottom: 15px;
}

.headline p{
    color: #555555;
    line-height: 1.5em;
}

/*font*/
.font{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 15px 0px;
}

.font img{
    width: 80px;
}

.font .infos{
    color: #555555;
    font-size: 0.9em;
}

hr{
    width: 100%;
}

/*conteudo principal*/
.maincontent{
    width: 100%;
    padding: 15px 0px;
}

.maincontent img{
    width: 100%;
}

.maincontent p{
    line-height: 1.5em;
    color: #555555;
    padding: 10px 0px;
}

.maincontent strong{
    color: var(--color1);
}

/*sugestoes*/
.suggestion{
    color: #555555;
    font-size: 1.1em;
    width: 100%;
}

.suggestion h2{
    font-size: 1.1em;
}

.suggestion ul{
    padding: 10px;
    width: 100%;
}

.suggestion li{
    padding: 10px 0px;
    color: var(--color1);
    font-weight: bold;
}

.linered{
    border-color: var(--color1);
    width: 100vw;
    margin: 10px 0px;
}

/*outras noticias*/
.othernews{
    
    width: 100vw;
    background-color: #dbdbdb;
}

.othernews .cardnews{
    background-color: #fff;
    margin: 15px 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.479);
}

.othernews .cardnews img{
    width: 100%;
}

.othernews .cardnews p{
    padding: 15px 15px 0px 15px;
    font-weight: bold;
    color: #555555;
}

.othernews .cardnews h2{
    padding: 15px;
    color: var(--color1);
}

/*rodape*/
footer{
    background-color: var(--color1);
    padding: 15px;
    color: #fff;
    font-family: var(--fontpadrao);
    font-size: 0.7em;
}